/* Estilos generales */
:root{ 
    --bg-color:#aecedd; 
    --primary-color:#375a4f ;
    --secondary-color:#616c60 ;
    --third-color:#;
    --third-bis-color:#;
    --bg-input-color:#;
}

*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color:var(--bg-color);
    padding:30px;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: white
}

#logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#img-logo {
    width: 10%;
}
body{
    background-image: url(../img/pexels-puppy.jpg);
    background-size:cover;
    background-position:top;
    height: 1280px;
    
}

main { 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin: 50px;
    padding: 20px;
    
}
.container {
    max-width:  1200px;
    margin: 120px auto;
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
/* Estilos del formulario */
#form-wrapper {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 3px solid var(--secondary-color);
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
    width: 100%;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.servicio,
.cliente {
    display: none;
}

/* Estilos para cuando se selecciona "Servicio" */
#tipoconsulta[value="S"] ~ .form-control .servicio {
    display: block;
}

/* Estilos para cuando se selecciona "Sí" en la opción de cliente */
.cliente input[type="radio"][value="1"]:checked ~ .consulta {
    display: none;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #dc1c1c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.form-help {
    margin-top: 10px;
    font-size: 0.8em;
}

.form-help a {
    color: blue;
    text-decoration: none;
}

.form-help a:hover {
    text-decoration: underline;
}
