:root{ 
    --bg-color:#aecedd; 
    --primary-color:#375a4f ;
    --secondary-color:#616c60 ;
    --third-color:#;
    --third-bis-color:rgba(174, 206, 221, 0.8); /*es el color del bg pero con opacidad*/;
    --bg-input-color:#;
}


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}

body{
    background-color: var(--bg-color);
    /*background-image: url(../img/background_alternativa_2.jpg);*/
}

#formulario{
    background-image: url(../img/background_formulario.png);
}  

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color:   var(--bg-color) ;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 1.5vw;
    width: 100%;
    z-index: 9999;
}

#logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#logo > a {
    font-size: 1.5rem;
    color: black;
}

#img-logo {
    width: 10%;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul > li {
    margin: 5px;
}

nav > ul > li > a {
    padding: 10px 20px;
    /* border: 1px solid var(--primary-color); */
    border-radius: 10px; 
    background-color: var(--primary-color);
}

nav > ul > li > a:hover {
    background-color: var(--secondary-color) ;
    color: #fff;
}

#banner{
    background-image: url(../img/banner-1-ext.jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 80px;
    /*box-shadow:inset 0 0 0 2000px rgba(84,84,84,0.5);*/
}

#banner > #container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 600px;
    padding-left: 20px;
}

#info{
    color: #fff;
    font-size: 2vw;
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
    margin-top: 40px;
    padding: 10px;
    width: 500px;
}

h1 {
    color: var(--primary-color);
    font-size: 6vw;
    font-weight: bold
}

h2{
    color: var(--primary-color);
    font-size: 2.5vw;
    font-weight: bold;
    margin: 10px 0px;
}

#banner > #container > h2 {
    color: var(--primary-color);
    font-size: 3.5vw;
    font-family: Caveat, sans-serif;
}
    
#nosotros, #servicios, #productos, #testimonios, #contacto{
    background-image: url(##);
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
    padding: 90px 10px;
    margin: 20px 0px;
}

.button{
    background-color: var(--primary-color);
    font-size: 1.2vw;
    padding: 10px; 
    border-radius: 10px; /*redondea las esquinas -- Permite cambiar visualmente el contenedor a un c칤rculo */
    color: #fff;
    cursor: pointer; /*Cambia el cursor a una manito cuando estoy sobre el bot칩n*/
}

.products-flex{
    display: flex;
    flex-wrap: wrap;
    align-content:space-around; /*permite alinear respecto al eje secundario cuando tenemos m치s de una linea de elementos, pero el flex-wrap debe estar en wrap para que se aplique*/
    justify-content:center;
    align-items: center;
    gap: 8vw;
}

.producto-x{
    border-radius: 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 210px;
    height: 310px;
    font-size: 18px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}

.producto-img{
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover; /* el prefijo -o- es para que se vea bien en el 칩pera (que es un explorador).. esto corrije la propiedad definida y la adapta para 칩pera.. con el resto de los exploradores el object-fit corre sin problemas. Se puede usar la pagina "caniuse" para chequear compatibilidades con los navegadores*/
}

.detalle-producto{
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    /* altura de la linea para el texto afecta el espacio vertical(alto de texto)*/
    line-height: 15px;
    position: absolute;
    background-color:var(--third-bis-color);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.producto-x:hover{
    opacity: 0.8;
}

.producto-x:hover .detalle-producto {
    bottom: 0;
}

#encabezado-prod-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 40px;
}

#encabezado-prod-flex > p{
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
}

#encabezado-prod-flex > p:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

#encabezado-prod-flex > p::before{
    content: '游游游';
    font-style: normal;
}

#encabezado-prod-flex > p::after{
    content: '游游游';
    font-style: normal;
}

#producto2{
    order: -1;
}

#producto3{
    order: 1;
}

/*HOJA DETALLE PRODUCTO*/

#detalleproducto{
    margin: 100px 15px 0px 15px;
}

.detalle-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(87, 97, 110, 0.2);
    margin-top: 30px;
    padding: 20px   ;
}

.descripcion{
    width: 20vw;
    align-items: center;
}

.descripcion > p{
    width: 20vw;
    margin-bottom: 10px;
}

#precio-antes{
    font-weight: bold;
    font-size: 1.1em;
    background-color: red;
    width:fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

#precio-ahora{
    font-weight: bold;
    font-size: 1.1em;
    background-color: green;
    width: fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px
}

.beneficios{
    width: 25vw;
}

.botones-compra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 200px;
    justify-content:space-around; */
    align-items: center;
    row-gap: 20px;
}

.botones-compra > .button{
    width: 10vw;
}

/*TESTIMONIOS*/

.caja-testimonios > h2 {
    text-align: center;
    font-size: 3.5vw;
}

.caja-testimonios > p {
    text-align: center;
    font-size: 2vw;
}

.contenedor-testimonios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
}

.testimonio {
    width: 22%;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff; 
    padding: 20px;           
}

.testimonio {
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
  
.testimonio:hover {
    transform: translateY(-25px);
}

.testimonio-img {
    width: 40%;
    border-radius: 50%;
    margin-top: -50px;
}

/*NOSOTROS*/

.Nosotros{
    display: flex;
    margin: 10px auto;
    height: 90%;
}

.nosotros-img{
    float: left;
    border: 3px;  
    border-radius: 10px;
    margin-right: 10px; 
}

.nosotros-text{
    margin-top: 10%;
    text-align: center;
}
