:root{ 
    --bg-color:#; 
    --primary-color:#;
    --secondary-color:#;
    --third-color:#;
    --third-bis-color:#;
    --bg-input-color:#;
}


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: '###', sans-serif; 
}

a{
    text-decoration: none;
}