:root{ 
    --bg-color:#aecedd; 
    --primary-color:#375a4f ;
    --secondary-color:#616c60 ;
    --third-color:#;
    --third-bis-color:rgba(174, 206, 221, 0.8); /*es el color del bg pero con opacidad*/;
    --bg-input-color:#;
}


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}

body{
    background-color: var(--bg-color);
    /*background-image: url(../img/background_alternativa_2.jpg);*/
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: var(--bg-color);
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5vw;
    width: 100%;
    z-index: 9999;
}

#logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#logo > a {
    font-size: 1.5rem;
    color: black;
}

#img-logo {
    width: 10%;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul > li {
    margin: 5px;
}

nav > ul > li > a {
    padding: 10px 20px;
    /* border: 1px solid var(--primary-color); */
    border-radius: 10px; 
    background-color: var(--primary-color);
}

nav > ul > li > a:hover {
    background-color: var(--secondary-color) ;
    color: #897e7e;
}

.nav-oculta {
    visibility: hidden;
}

#banner{
    background-image: url(../img/banner-1-ext.jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 80px;
    /*box-shadow:inset 0 0 0 2000px rgba(84,84,84,0.5);*/
}

#banner > #container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 600px;
    padding-left: 20px;
}

#info{
    color: #fff;
    font-size: 2vw;
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
    margin-top: 4vw;
    padding: 10px;
    width: 40vw;
}

h1 {
    color: var(--primary-color);
    font-size: 6vw;
    font-weight: bold
}

h2{
    color: var(--primary-color);
    font-size: 2.5vw;
    font-weight: bold;
    margin: 10px 0px;
}

#banner > #container > h2 {
    color: var(--primary-color);
    font-size: 3.5vw;
    font-family: Caveat, sans-serif;
}
    
#nosotros, #servicios, #productos, #testimonios, #contacto{
    background-image: url(##);
    background-size: cover;
    background-position: center;
    /*height: 600px;*/ 
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
    padding: 90px 10px;
    margin: 20px 0px;
}

.button{
    background-color: var(--primary-color);
    font-size: 1.2vw;
    padding: 10px; 
    border-radius: 10px; /*redondea las esquinas -- Permite cambiar visualmente el contenedor a un c铆rculo */
    color: #fff;
    cursor: pointer; /*Cambia el cursor a una manito cuando estoy sobre el bot贸n*/
}

/*SERVICIOS*/

#texto-servicios > h2 {
    text-align: center;
    font-size: 3.5vw;
}

#texto-servicios p {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

#contenido-servicios{
    display: flex;
    flex-wrap: row nowrap;
    align-content:space-evenly; /*permite alinear respecto al eje secundario cuando tenemos m谩s de una linea de elementos, pero el flex-wrap debe estar en wrap para que se aplique*/
    justify-content:center;
    align-items:center;
    gap: 5em;   
}

#opciones-servicio{
    background-color: #fafafa;
    height: 25vw;
    width: 35vw;
    padding-top: 4vw;
    /*padding-left: 30px; */
    border-radius: 80%;
    text-align: center;
    border-color: #375a4f;
    border-width: medium;
    border-style: solid;    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#opciones-servicio > ul{
    margin-bottom: 2.5em;
}

#opciones-servicio > ul > li {
    list-style-type: none;
    text-align:center;
    font-size: 2vw;
    margin: .4em;
}

.carrusel{
    width: 40%;
    max-width: 120em;
    margin-top: 3em;
    overflow-x: hidden;
}

.carrusel > .grande{
    width: 500%;
    gap: 10px;
    display: flex;
    flex-flow: row nowrap; /*Atajo para resumir los valores de las propiedades flex-direction y flex-wrap*/
    justify-content:space-around;
    align-items: center;

    /*transition: all .5s ease;
    transform: translateX(-20%);*/
}

.grande > img{
    width: calc(100%/5 - 2em);
    min-height: 10vh;
    object-fit: auto;
    border-radius: 10px;;
}

.carrusel > .puntos{
    width: 98%;
    background-color: transparent;
    border-radius: 10em;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.puntos > .punto{
    width: 1em;
    height: 1em;
    margin: .5em;
    background-color: var(--secondary-color);
    border-radius: 100%;

}

.carrusel .punto.activo{
    background-color: var(--primary-color);
}


/*PRODUCTOS*/

.products-flex{
    display: flex;
    flex-wrap: wrap;
    align-content:space-around; /*permite alinear respecto al eje secundario cuando tenemos m谩s de una linea de elementos, pero el flex-wrap debe estar en wrap para que se aplique*/
    justify-content:center;
    align-items: center;
    gap: 8vw;
}

.products-flex a {
    color: black;
}

.producto-x{
    border-radius: 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 210px;
    height: 310px;
    font-size: 18px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}

.producto-img{
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover; /* el prefijo -o- es para que se vea bien en el 贸pera (que es un explorador).. esto corrije la propiedad definida y la adapta para 贸pera.. con el resto de los exploradores el object-fit corre sin problemas. Se puede usar la pagina "caniuse" para chequear compatibilidades con los navegadores*/
}

.detalle-producto{
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    /* altura de la linea para el texto afecta el espacio vertical(alto de texto)*/
    line-height: 15px;
    position: absolute;
    background-color:var(--third-bis-color);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.producto-x:hover{
    opacity: 0.8;
}

.producto-x:hover .detalle-producto {
    bottom: 0;
}

/* #encabezado-prod-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 40px;
} */

#encabezado-prod-flex > h2 {
    text-align: center;
    font-size: 3.5vw;
}

#encabezado-prod-flex > p{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1em;
    font-family: Caveat, sans-serif
}

#encabezado-prod-flex > p:hover {
    animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(3px, 3px) rotate(3deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-3px, 3px) rotate(-3deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

#encabezado-prod-flex > p::before{
    content: '';
    font-style: normal;
}

#encabezado-prod-flex > p::after{
    content: '';
    font-style: normal;
}

#boton-productos{
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#producto2{
    order: -1;
}

#producto3{
    order: 1;
}

/*HOJA DETALLE PRODUCTO*/

#detalleproducto{
    margin: 100px 15px 0px 15px;
}

.detalle-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(87, 97, 110, 0.2);
    margin-top: 30px;
    padding: 20px   ;
}

.descripcion{
    width: 20vw;
    align-items: center;
}

.descripcion > p{
    width: 20vw;
    margin-bottom: 10px;
}

#precio-antes{
    font-weight: bold;
    font-size: 1.1em;
    background-color: red;
    width:fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

#precio-ahora{
    font-weight: bold;
    font-size: 1.1em;
    background-color: green;
    width: fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px
}

.beneficios{
    width: 25vw;
}

.botones-compra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 200px;
    justify-content:space-around; */
    align-items: center;
    row-gap: 20px;
}

.botones-compra > .button{
    width: 10vw;
}

/*TESTIMONIOS*/

.caja-testimonios > h2 {
    text-align: center;
    font-size: 3.5vw;
}

.caja-testimonios > p {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

.contenedor-testimonios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
}

.testimonio {
    width: 22%;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff; 
    padding: 20px;           
}

.testimonio {
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
  
.testimonio:hover {
    transform: translateY(-25px);
}

.testimonio-img {
    width: 40%;
    border-radius: 50%;
    margin-top: -50px;
}



/* FOOTER */

footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-enlaces-footer {
    display: flex;
    justify-content: space-evenly;
}

.container-enlaces-footer > a {
    color: black;
}

.legales {
    display: flex;
    justify-content: space-evenly;
}

.emlace-footer {
    display: flex;
    align-items: center;
}

i {
    font-size: 3vw;
    padding: 10px;
}

.fa-location-dot {
    color: firebrick;
}

.fa-whatsapp {
    color: green;
}

.fa-instagram {
    color: deeppink;
}

.fa-facebook {
    color: blue;
}

#barra-vertical {
    font-size: 3vw;
}

/* SITIO EN CONSTRUCCION */

#sitio-construccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    background-color: white;
    padding: 90px 10px;
    margin: 20px 0px;
}

#construccion-titulo {
    font-size: 3rem;
}

#sitio-construccion p {
    font-size: x-large;
}

/* FORMULARIO */

#container-form {
    background-image: url(../img/background_formulario.png);
    background-size:cover;
    background-position:top;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.container-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

#form-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 100px 0 20px;
    padding: 20px;
    border: 3px solid var(--secondary-color);
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2) ;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.servicio,
.cliente {
    display: none;
}

/* Estilos para cuando se selecciona "Servicio" */
#tipoconsulta[value="S"] ~ .form-control .servicio {
    display: block;
}

/* Estilos para cuando se selecciona "S铆" en la opci贸n de cliente */
.cliente input[type="radio"][value="1"]:checked ~ .consulta {
    display: none;
}

/* Estilos para el bot贸n de env铆o */
button[type="submit"] {
    background-color: #dc1c1c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.form-help {
    margin-top: 10px;
    font-size: 0.8em;
}

.form-help a {
    color: blue;
    text-decoration: none;
}

.form-help a:hover {
    text-decoration: underline;
}


/*QUIENES SOMOS*/


.nosotros-text > h2 {
    text-align: center;
    font-size: 3.5vw;
}

.nosotros-desarrollo {
    margin: 1vw;
    text-align: center;
    font-size: 1.2vw;
}


.subtitulo {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

.acordeon{  
    max-width: 120em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.acordeon .bloque{
    /* margin: 0 0 1em; */
    padding: 1em;
    display:flex;
    flex-wrap: nowrap;

}

.acordeon .img-acordeon{
    width: 14em;
    height: 18em;
    background-color: #fafafa;
    /* padding: 0.5em; */
    object-fit: cover;
    border-color: #375a4f;
    border-width: medium;
    border-style: solid;  
}

.acordeon .contenido{
    background-color: #fafafa;
    width: 0px;
    padding: 0em;
    overflow: hidden;
    transition: all 0.7s ease;
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    border-color: #375a4f;
    border-width: medium;
    border-style: solid hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.acordeon .bloque:hover .contenido{
    width: 10em;
}

/* FORMULARIO RESERVA DE TURNOS */
#container-form-turnos {
    background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}

#img-turno {
    width: 30%;
    transform: rotate(-10deg);
    margin-top: 70px;
}

.nombres, .fecha-hora, .tel-mail {
    display: flex;
    justify-content: space-between;
}

.servicio-fecha-hora {
    display: flex;
}

.fecha-hora {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 105px;
    margin-top: -15px;
}

.form-control input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control input[type="checkbox"] {
    transform: scale(1.5);
}

.form-control-servicios {
    line-height: 2rem;
}

.tipo-servicio {
    margin-right: 7px;
}

.form-control input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-hora {
    width: 100%;
}

/* DIVS ERROR */
.error {
    color: red;
    padding: 5px;
    text-wrap: wrap;
}

#form-exitoso {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    display: none;
}


