/* VARIABLES */
:root {
    --bg-color: #aecedd;
    --primary-color: #375a4f;
    --secondary-color: #616c60;
    --third-color: #;
    --third-bis-color: rgba(174, 206, 221, 0.8);
    /*es el color del bg pero con opacidad*/
    ;
    --bg-input-color: #;
}

/* ESTILOS GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    /*background-image: url(../img/background_alternativa_2.jpg);*/
}

a {
    text-decoration: none;
    color: #fff;
}

/* ESTILOS COMUNES A TODAS LAS SECCIONES */
#nosotros,
#servicios,
#productos,
#testimonios,
#contacto {
    background-image: url(##);
    background-size: cover;
    background-position: center;
    /*height: 600px;*/
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2);
    padding: 90px 10px;
    margin: 20px 0px;
}

/* HEADER */

.header {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.5vw;
    width: 100%;
    z-index: 9999;
}

.menu-hamburguesa {
    display: none;
}

#logo {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#logo>a {
    font-size: 1.5rem;
    color: black;
}

#img-logo {
    width: 10%;
}

nav>ul {
    display: flex;
    list-style-type: none;
}

nav>ul>li {
    margin: 5px;
}

nav>ul>li>a {
    padding: 10px 20px;
    /* border: 1px solid var(--primary-color); */
    border-radius: 10px;
    background-color: var(--primary-color);
}

nav>ul>li>a:hover {
    background-color: var(--secondary-color);
}

.nav-oculta {
    visibility: hidden;
}

/* SECTION BANNER */

#banner {
    background-image: url(../img/banner-1-ext.jpeg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 80px;
    /*box-shadow:inset 0 0 0 2000px rgba(84,84,84,0.5);*/
}

#banner>#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-left: 20px;
}

#info {
    color: #fff;
    font-size: 2vw;
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2);
    margin-top: 4vw;
    padding: 10px;
    width: 40vw;
}

h1 {
    color: var(--primary-color);
    font-size: 6vw;
    font-weight: bold
}

h2 {
    color: var(--primary-color);
    font-size: 2.5vw;
    font-weight: bold;
    margin: 10px 0px;
}

#banner>#container>h2 {
    color: var(--primary-color);
    font-size: 3.5vw;
    font-family: Caveat, sans-serif;
}

/* SECCION NOSOTROS*/

.nosotros-text>h2 {
    text-align: center;
    font-size: 3.5vw;
}

.nosotros-desarrollo {
    margin: 1vw;
    text-align: center;
    font-size: 1.2vw;
}


.subtitulo {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

.acordeon-v {
    max-width: 120em;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.acordeon-v .bloque-v {
    /* margin: 0 0 1em; */
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;

}

.acordeon-v .img-acordeon-v {
    width: 14em;
    height: 18em;
    background-color: #fafafa;
    /* padding: 0.5em; */
    object-fit: cover;
    border-color: #375a4f;
    border-width: medium;
    border-style: solid;
}

.acordeon-v .contenido {
    background-color: #fafafa;
    width: 0px;
    padding: 0em;
    overflow: hidden;
    transition: all 0.7s ease;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    border-color: #375a4f;
    border-width: medium;
    border-style: solid hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.acordeon-v .bloque-v:hover .contenido {
    width: 10em;
}

/* SECTION SERVICIOS */

#texto-servicios>h2 {
    text-align: center;
    font-size: 3.5vw;
}

#texto-servicios p {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

#contenido-servicios {
    display: flex;
    flex-wrap: row wrap;
    /* align-content:space-between; permite alinear respecto al eje secundario cuando tenemos más de una linea de elementos, pero el flex-wrap debe estar en wrap para que se aplique */
    justify-content: space-evenly;
    align-items: center;
    /* gap: 7em;    */
}

#opciones-servicio {
    height: 25vw;
    width: 35vw;
    /*padding-left: 30px; */
    text-align: center;
    align-content: space-around;
    /* border-color: #375a4f;
    border-width: medium;
    border-style: solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); */
}

.acordeon-h {
    /* width: 90%; */
    padding: 0.4em 1em;
    margin-bottom: 1em;
}

.acordeon-h .bloque-h {
    background-color: var(--primary-color);
    margin-bottom: 0.5em;
    /* padding: 1em; */
}

.acordeon-h .titular {
    font-size: 1.2vw;
    text-align: left;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #fafafa;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.acordeon-h .titular::before {
    content: '+';
    font-size: 1.1em;
    position: absolute;
    left: 30.5em;
}

.acordeon-h .bloque-h.activo .titular::before {
    content: '-';
}

.acordeon-h .descripcion-acord {
    font-size: 1em;
    background-color: rgba(178, 189, 195, 0.2);
    color: #fff;
    text-align: center;
    height: 0em;
    padding: 0em 0.5em;
    overflow: hidden;
    transition: all .5s ease;
}

.acordeon-h .bloque-h.activo .descripcion-acord {
    height: 7em;
}

p>span {
    font-size: 1em;
    color: #000;
    font-weight: bold;
    display: block;
    padding-top: 0.5em;
    position: relative;
    left: 40%;
    cursor: pointer;
}

/* #opciones-servicio > ul{
    margin-bottom: 2.5em;
}

#opciones-servicio > ul > li {
    list-style-type: none;
    text-align:center;
    font-size: 2vw;
    margin: .4em;
} */

.button {
    background-color: var(--primary-color);
    font-size: 1.2vw;
    padding: 10px;
    border-radius: 10px;
    /*redondea las esquinas -- Permite cambiar visualmente el contenedor a un círculo */
    color: #fff;
    cursor: pointer;
    /*Cambia el cursor a una manito cuando estoy sobre el botón*/
}

.carrusel {
    width: 40%;
    max-width: 120em;
    margin-top: 3em;
    overflow-x: hidden;
}

.carrusel>.grande {
    width: 500%;
    gap: 10px;
    display: flex;
    flex-flow: row nowrap;
    /*Atajo para resumir los valores de las propiedades flex-direction y flex-wrap*/
    justify-content: space-around;
    align-items: center;

    /*transition: all .5s ease;
    transform: translateX(-20%);*/
}

.grande>img {
    width: calc(100%/5 - 2em);
    min-height: 10vh;
    object-fit: auto;
    border-radius: 10px;
}

.carrusel>.puntos {
    width: 98%;
    background-color: transparent;
    border-radius: 10em;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.puntos>.punto {
    width: 1em;
    height: 1em;
    margin: .5em;
    background-color: var(--secondary-color);
    border-radius: 100%;

}

.carrusel .punto.activo {
    background-color: var(--primary-color);
}

/* FORMULARIO RESERVA DE TURNOS */
#container-form-turnos {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img-turno {
    width: 30%;
    transform: rotate(-10deg);
    margin-top: 70px;
}

.nombres,
.fecha-hora,
.tel-mail {
    display: flex;
    justify-content: space-between;
}

.servicio-fecha-hora {
    display: flex;
}

.fecha-hora {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 105px;
    margin-top: -15px;
}

fieldset {
    border: none;
}

.form-control input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control input[type="checkbox"] {
    transform: scale(1.5);
}

.form-control-servicios {
    line-height: 2rem;
}

.tipo-servicio {
    margin-right: 7px;
}

.form-control input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-hora {
    width: 100%;
}

/* DIVS ERROR */
.error {
    color: red;
    padding: 5px;
    text-wrap: wrap;
}

/* FORMULARIO RESERVA DE TURNOS */
#container-form-turnos {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img-turno {
    width: 30%;
    transform: rotate(-10deg);
    margin-top: 70px;
}

.nombres,
.fecha-hora,
.tel-mail {
    display: flex;
    justify-content: space-between;
}

.servicio-fecha-hora {
    display: flex;
}

.fecha-hora {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 105px;
    margin-top: -15px;
}

.form-control input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control input[type="checkbox"] {
    transform: scale(1.5);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.form-control-servicios {
    line-height: 2rem;
}

.tipo-servicio {
    margin-right: 7px;
}

.form-control input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-hora {
    width: 100%;
}

/* DIVS ERROR */
.error {
    color: red;
    padding: 5px;
    text-wrap: wrap;
}

#form-exitoso {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    display: none;
}

#form-exitoso {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    display: none;
}

/* SECTION PRODUCTOS*/

.products-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    /*permite alinear respecto al eje secundario cuando tenemos más de una linea de elementos, pero el flex-wrap debe estar en wrap para que se aplique*/
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.products-flex a {
    color: black;
}

.producto-x {
    border-radius: 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 210px;
    height: 310px;
    font-size: 18px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.producto-img {
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
    /* el prefijo -o- es para que se vea bien en el ópera (que es un explorador).. esto corrije la propiedad definida y la adapta para ópera.. con el resto de los exploradores el object-fit corre sin problemas. Se puede usar la pagina "caniuse" para chequear compatibilidades con los navegadores*/
}

.detalle-producto {
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    /* altura de la linea para el texto afecta el espacio vertical(alto de texto)*/
    line-height: 15px;
    position: absolute;
    background-color: var(--third-bis-color);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.producto-x:hover {
    opacity: 0.8;
}

.producto-x:hover .detalle-producto {
    bottom: 0;
}

#encabezado-prod-flex>h2 {
    text-align: center;
    font-size: 3.5vw;
}

#encabezado-prod-flex>p {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1em;
    font-family: Caveat, sans-serif
}

#encabezado-prod-flex>p:hover {
    animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(3px, 3px) rotate(3deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-3px, 3px) rotate(-3deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

#encabezado-prod-flex>p::before {
    content: '🌟';
    font-style: normal;
}

#encabezado-prod-flex>p::after {
    content: '🌟';
    font-style: normal;
}

#boton-productos {
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#producto2 {
    order: -1;
}

#producto3 {
    order: 1;
}

/* PAGINA DETALLE PRODUCTO*/

.encabezado {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nota {
    color: red;
    font-size: 2vw;
    width: fit-content;
    transform: rotate(22deg);
    padding: 0.5em;
    margin-right: 1em;
    background-color: #fafafa;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    z-index: 9999;
}

#detalleproducto {
    margin: 100px 15px 0px 15px;
}

.detalle-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(87, 97, 110, 0.2);
    margin-top: 30px;
    padding: 20px;
}

.descripcion {
    width: 20vw;
    align-items: center;
}

.descripcion>p {
    width: 20vw;
    margin-bottom: 10px;
}

#precio-antes {
    font-weight: bold;
    font-size: 1.1em;
    background-color: red;
    width: fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}

#precio-ahora {
    font-weight: bold;
    font-size: 1.1em;
    background-color: green;
    width: fit-content;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 20px;
    border-color: black;
    border-width: 2px
}

.beneficios {
    width: 25vw;
}

.botones-compra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.botones-compra>.button {
    width: 10vw;
}

/* SECTION TESTIMONIOS*/

.caja-testimonios>h2 {
    text-align: center;
    font-size: 3.5vw;
}

.caja-testimonios>p {
    text-align: center;
    font-size: 3vw;
    font-family: Caveat, sans-serif
}

.contenedor-testimonios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
}

.testimonio {
    width: 22%;
    text-align: center;
    line-height: 1.5rem;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 20px;
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.testimonio:hover {
    transform: translateY(-25px);
}

.testimonio-img {
    width: 40%;
    border-radius: 50%;
    margin-top: -50px;
}

/* SECTION CONTACTO */
#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacto-title {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
}

#consulta-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: 20px;
    border: 3px solid var(--secondary-color);
    box-shadow: inset 0 0 0 2000px whitesmoke;
}

.box-info {
    text-align: center;
    border: 3px solid var(--secondary-color);
    box-shadow: inset 0 0 0 1000px hwb(201 55% 15%);
    padding: 30px;
    max-width: 45%;
    line-height: 1.5rem;
}

.box-info button,
h3 {
    margin: 10px;
}

.box-mapa {
    padding: 30px;
    max-width: 50%;
}

/* FORMULARIO CONTACTO */
#container-form {
    background-image: url(../img/background_formulario.png);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

#form-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 100px 0 20px;
    padding: 20px;
    border: 3px solid var(--secondary-color);
    box-shadow: inset 0 0 0 2000px rgba(87, 97, 110, 0.2);
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control select,
.form-control textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.servicio,
.cliente {
    display: none;
}

/* Estilos para cuando se selecciona "Servicio" */
#tipoconsulta[value="S"]~.form-control .servicio {
    display: block;
}

/* Estilos para cuando se selecciona "Sí" en la opción de cliente */
.cliente input[type="radio"][value="1"]:checked~.consulta {
    display: none;
}

/* Estilos para el botón de envío */
button[type="submit"] {
    background-color: #dc1c1c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.form-help {
    margin-top: 10px;
    font-size: 0.8em;
}

.form-help a {
    color: blue;
    text-decoration: none;
}

.form-help a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-enlaces-footer {
    display: flex;
    justify-content: space-evenly;
}

.container-enlaces-footer>a {
    color: black;
}

.legales {
    display: flex;
    justify-content: space-evenly;
}

.emlace-footer {
    display: flex;
    align-items: center;
}

i {
    font-size: 3vw;
    padding: 10px;
}

.fa-location-dot {
    color: firebrick;
}

.fa-whatsapp {
    color: green;
}

.fa-instagram {
    color: deeppink;
}

.fa-facebook {
    color: blue;
}

#barra-vertical {
    font-size: 3vw;
}

/* SITIO EN CONSTRUCCION */

#sitio-construccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    background-color: white;
    padding: 90px 10px;
    margin: 20px 0px;
}

#construccion-titulo {
    font-size: 3rem;
}

#sitio-construccion p {
    font-size: x-large;
}

/*CRUD*/

.description-crud{
    color: white;
    margin: 20px 0px;
}

#form .d-flex-crud{
    justify-content: space-around;
    display: flex;
    margin-bottom: 5vw;

}

.d-flex-column{
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: bold;
}

.form-control-crud label{
    color: #fafafa;
    padding-bottom: 10px;

}

.form-control-crud input {
    height: 50px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: 2px solid white;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    padding: 0 50px;
}

.button-eliminar, .button-editar{
    background-color: var(--primary-color);
    border-radius: 10px;
    /*redondea las esquinas -- Permite cambiar visualmente el contenedor a un círculo */
    color: #fff;
    cursor: pointer;
    /*Cambia el cursor a una manito cuando estoy sobre el botón*/    
}

/* .form-select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 25px;
    margin: 20px 0px;

} */

/* .form-select option{
    color:#2a2a2a;
} */

/* .subtitulo{
    color: white;
    font-size: 1.5vw;
} */

#list-table-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    /* color: #FFF; */
    vertical-align: top;
    border-color: #dee2e6;
}

.table th,
.table td {
    text-align: center;
}
.table th{
    border-bottom: 1px solid #ffffff;
    padding: 10px 40px;
}
.table td{
    border-bottom: 1px solid var(--primary-color);
    padding: 10px 50px;
}

/* #list-div-movies{
    width: 100%;
} */

/* .item-movie{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
} */

/* h3{
    align-self: center;
} */

/* MEDIA QUERIES */
/* Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    /* HEADER */
    #img-logo {
        width: 15%;
    }

    /* BANNER */
    #banner {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        display: flex;
    }

    #banner>#container {
        height: 230px;
        padding-top: 70px;
    }

    /* SECCION NOSOTROS*/
    .nosotros-text>h2 {
        font-size: 5vw;
    }

    .nosotros-desarrollo {
        font-size: 2vw;
    }

    .acordeon-v {
        gap: 3em;
    }

    .acordeon-v .img-acordeon-v {
        width: 11em;
        height: 14em;
    }

    .acordeon-v .contenido {
        font-size: 1.5vw;
    }

    /* SECTION SERVICIOS */
    #texto-servicios h2 {
        font-size: 5vw;
    }

    .acordeon-h .bloque-h .titular {
        font-size: 1.5vw;
    }

    .acordeon-h .titular::before {
        content: '+';
        font-size: 1.5em;
        position: absolute;
        left: 17em;
    }

    .acordeon-h .bloque-h.activo .descripcion-acord {
        font-size: 0.8em;
        height: 9em;
    }

    .button {
        font-size: 1.5vw;
    }

    /* FORMULARIO RESERVA DE TURNOS */
    #container-form-turnos {
        display: flex;
        flex-direction: column-reverse;
    }

    #img-turno {
        width: 40%;
        margin-top: -100px;
        margin-left: 250px;
        margin-bottom: 80px;
    }
    /* SECTION PRODUCTOS */
    #encabezado-prod-flex>h2 {
        font-size: 5vw;
    }
    .products-flex {
        gap: 5em;
    }
    .products-flex > a > .producto-x {
        width: 100%;
    }
    /* PAGINA DETALLE PRODUCTO*/
    #detalleproducto > div > .detalle-flex {
        align-items: start;
        justify-content: space-between;
    }
    .producto-x,
    .descripcion,
    .beneficios,
    .botones-compra {
        width: 30%;
    }
    .botones-compra {
        margin: 30px auto;
    }
    /* SECTION TESTIMONIOS */
    .caja-testimonios>h2 {
        font-size: 5vw;
    }

    .contenedor-testimonios {
        flex-wrap: wrap;
    }

    .testimonio {
        width: 35%;
        margin: 35px;
    }

    /* SECTION CONTACTO */
    .contacto-title {
        font-size: 5vw;
    }

    #consulta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-info {
        max-width: 80%;
        margin: 20px;
    }

    .box-mapa {
        max-width: 100%;
    }

    /* FOOTER */
    .legales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
    }

    /* SITIO EN CONSTRUCCION */
    #sitio-construccion img {
        width: 80%;
    }
}

/* Teléfonos */
@media only screen and (max-width: 575px) {

    /* HEADER */
    .menu-hamburguesa {
        display: inline;
    }
    .menu-hamburguesa:hover {
        cursor: pointer;
    }
    .logo-oculto {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    nav {
        display: none;
    }
    nav.active {
        display: flex;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav > ul > li {
        margin: 5px 0;
    }
    nav > ul > li > a {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 0;
        font-size: 1rem;
        border: 2px solid black;
        text-align: center;
        box-sizing: border-box;
    }
    /* BANNER */
    #banner {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        display: flex;
    }

    #banner>#container {
        height: 200px;
        padding-top: 70px;
    }

    /* SECCION NOSOTROS*/
    .nosotros-text>h2 {
        font-size: 10vw;
    }

    .nosotros-text>.subtitulo {
        font-size: 8vw;
    }

    .nosotros-desarrollo {
        font-size: 4vw;
    }

    .acordeon-v {
        gap: 3em;
    }

    .acordeon-v .img-acordeon-v {
        width: 14em;
        height: 17em;
    }

    .acordeon-v .contenido {
        font-size: 3vw;
    }

    /* SECTION SERVICIOS */
    #servicios {
        height: 900px;
    }

    #contenido-servicios {
        display: flex;
        flex-direction: column-reverse;
    }

    #texto-servicios h2 {
        font-size: 10vw;
    }

    #texto-servicios p {
        font-size: 8vw;
    }

    #opciones-servicio,
    .carrusel {
        width: 75%;
    }

    .acordeon-h .bloque-h .titular {
        font-size: 4vw;
    }

    .acordeon-h .titular::before {
        content: '+';
        font-size: 1.5em;
        position: absolute;
        left: 12em;
    }

    .acordeon-h .bloque-h.activo .descripcion-acord {
        font-size: 0.8em;
        height: 11em;
    }

    .button {
        font-size: 4vw;
    }

    /* SECTION PRODUCTOS */
    #productos>div>#encabezado-prod-flex>h2 {
        font-size: 10vw;
    }
    #productos>div>#encabezado-prod-flex>p {
        font-size: 8vw;
    }
    .products-flex {
        gap: 5em;
    }
    .products-flex > a > .producto-x {
        width: 100%;
    }
    /* PAGINA DETALLE PRODUCTO*/
    #detalleproducto > div > .encabezado > h2 {
        font-size: 8vw;
    }
    #detalleproducto > div > .detalle-flex {
        align-items: start;
        justify-content: space-between;
    }
    .descripcion,
    .beneficios {
        width: 50%;
    }
    .producto-x {
        width: auto;
        margin: 20px auto;
    }
    .botones-compra {
        margin: 20px auto;
    }
    .botones-compra>.button {
        width: 200px;
    }
    .nota {
        font-size: 5vw;
        height: fit-content;
    }
    /* FORMULARIO RESERVA DE TURNOS */
    #container-form-turnos {
        padding: 10px;
    }
    #form-wrapper>h2 {
        font-size: 8vw;
    }
    #container-form-turnos {
        margin: 20px 10px;
        display: flex;
        flex-direction: column;
    }
    .nombres, .tel-mail, .servicio-fecha-hora {
        display: flex;
        flex-direction: column;
    }
    .fecha-hora {
        justify-content: start;
        align-items: start;
        padding: 0;
        margin: 0;
    }
    #img-turno {
        width: 60%;
    }

    /* SECTION PRODUCTOS */
    #encabezado-prod-flex>h2 {
        font-size: 5vw;
    }

    /* SECTION TESTIMONIOS */
    .caja-testimonios>h2 {
        font-size: 10vw;
    }

    .caja-testimonios>p {
        font-size: 8vw;
    }

    .contenedor-testimonios {
        flex-wrap: wrap;
    }

    .testimonio {
        width: 80%;
        margin: 35px;
    }

    /* SECTION CONTACTO */
    .contacto-title {
        font-size: 5vw;
    }

    #consulta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-info {
        max-width: 90%;
        margin: 20px;
    }

    .box-mapa {
        max-width: 100%;
    }

    iframe{
        width: 100%;
    }

    /* FORMULARIO CONTACTO */
    #form-wrapper {
        margin: 60px 10px 20px;
    }

    /* FOOTER */
    footer {
        height: 400px;
    }

    .container-enlaces-footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    i {
        font-size: 5vw;
    }
    .legales {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
        text-align: center;
        padding: 10px;
    }

    /* SITIO EN CONSTRUCCION */
    #sitio-construccion img {
        width: 80%;
    }

    #sitio-construccion p {
        text-align: center;
    }
}