<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="shortcut icon" href="static/favicon/logo.ico" type="image/x-icon">
    <!--Tipografía-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <!--Hoja de estilos-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Pelo y Barba - Peluquería Canina</title>
</head>
<body>
    <!--Encabezado-->
    <header class="header">
        <!-- Logo -->
        <div id="logo">
            <img id="img-logo" src="../static/img/logo.png" alt="logo">
            <a href="../index.html"><span>Pelo y Barba</span></a>
        </div>
        <!-- Hipervínculos para el menú-->
        <nav class="nav-oculta">
            <ul>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#testimonios">Testimonios</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a onclick="location.href='./templates/crud-stock.html';">Crud Stock</a></li>
            </ul>
        </nav>
    </header>

    <!-- Indicar contenido principal de la pagina -->
    <main> 
        <section id="crud-stock" class="container">
            <h2 class="search-title">Control de Stock</h2>
            <p class="description-crud">Complete los datos del producto a ingresar:</p>
            <p class="atencion-crud">Atención: El campo precio debe tener el formato 15.00</p>
            <form name="form-crud" action=""  id="form-crud">
                <div class="d-flex-crud">
                    <div class="form-control-crud d-flex-column">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="input-search" name="nombre" id="nombre">
                    </div>
                    <div class="form-control-crud d-flex-column">
                        <label for="marca">Marca</label>
                        <input type="text" class="input-search" name="marca" id="marca">
                    </div>
                    <div class="form-control-crud d-flex-column">
                        <label for="precio">Precio</label>
                        <input type="text" class="input-search" name="precio" id="precio">
                    </div>
                    <div class="form-control-crud d-flex-column">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="input-search" name="cantidad" id="cantidad">
                    </div>
                    <input type="hidden"  name="id_producto" id="id-producto">
                    <div>
                        <button type="button" class="button" id="btn-save-producto"><a href="#tabla-inventario">Guardar</a></button>
                    </div>
                    
                </div>
            </form> 
        </section>
        <section name="tabla-inventario" id="tabla-inventario" class="container">
            <h3 class="subtitulo-crud">Productos en el inventario</h3>
            <table id="list-table-products" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Cantidad</th>                        
                        <!-- <th>Banner</th> -->
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-products">
                    
                </tbody>
            </table>
        </section> 
   
        <section id="filtros">
            <h2 class="search-title">Filtros:</h2>
            <form action="">
                <div  class="d-flex-crud">
                    <div class="form-control-crud d-flex-column">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="input-search" name="filtro-nombre" id="filtro-nombre">
                    </div>
                    <input type="hidden"  name="id_producto" id="id-producto">
                    <div>
                        <button type="button" class="button" id="btn-filtrar-producto" onclick='filtrarNombre()'><a href="#tabla-inventario">Filtrar</a></button>
                    </div>
                </div>
            </form>
            <form action="">
                <div  class="d-flex-crud">
                    <div class="form-control-crud d-flex-column">
                        <label for="marca">Marca</label>
                        <input type="text" class="input-search" name="filtro-marca" id="filtro-marca">
                    </div>
                    <input type="hidden"  name="id_producto" id="id-producto">
                    <div>
                        <button type="button" class="button" id="btn-filtrar-producto" onclick='filtrarMarca()'><a href="#tabla-inventario">Filtrar</a></button>
                    </div>
                </div>
            </form>
            <form action="">
                <div  class="d-flex-crud">
                    <div class="form-control-crud d-flex-column">
                        <label for="precio">Precio hasta:</label>
                        <input type="text" class="input-search" name="filtro-precio" id="filtro-precio">
                    </div>
                    <input type="hidden"  name="id_producto" id="id-producto">
                    <div>
                        <button type="button" class="button" id="btn-filtrar-producto" onclick='filtrarPrecio()'><a href="#tabla-inventario">Filtrar</a></button>
                    </div>
                </div>
            </form>
            <form action="">
                <div  class="d-flex-crud">
                    <div class="form-control-crud d-flex-column">
                        <label for="cantidad">Existencias menores a:</label>
                        <input type="number" class="input-search" name="filtro-cantidad" id="filtro-cantidad">
                    </div>
                    <input type="hidden"  name="id_producto" id="id-producto">
                    <div>
                        <button type="button" class="button" id="btn-filtrar-producto" onclick='filtrarCantidad()'><a href="#tabla-inventario">Filtrar</a></button>
                    </div>
                </div>
            </form>
        </section>
        
    </main>

    <footer>
        <div class="container-enlaces-footer">
            <a href="https://www.google.com/maps?ll=-34.584822,-58.393176&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10073283201434883105" target="_blank">
                <div class="emlace-footer">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p>Dónde estamos</p>
                        <p>Av. del Libertador 1400</p>
                        <p>CABA</p>
                    </div>
                </div>
            </a>
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank">
                <div class="emlace-footer">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>+54911-1234-5678</p>
                </div>
            </a>
            <a href="mailto:peloybarba@mail.com?Subject=Consulta">
                <div class="emlace-footer">
                    <i class="fa-regular fa-envelope"></i>
                    <p>peloybarba@mail.com</p>
                </div>
            </a>
            <div class="emlace-footer">
                <p id="barra-vertical">|</p>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
        <div class="legales">
            <p>© 2024 Todos los derechos reservados a Pelo y Barba</p>
            <p>Política de Privacidad | Términos y Condiciones</p>
        </div> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/crud-stock-fetch.js"></script>
</body>
</html>
