<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Favicon-->
        <link rel="shortcut icon" href="static/favicon/logo.ico" type="image/x-icon">
        <!--Tipografía-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <!--Hoja de estilos-->
        <link rel="stylesheet" href="../static/css/style.css">
        <!--Iconos-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <title>Pelo y Barba - Contacto</title>
    </head>
<body>
    <!--Encabezado-->
    <header class="header">
        <!-- Logo -->
        <div id="logo">
            <img id="img-logo" src="../static/img/logo.png" alt="logo">
            <a href="../index.html"><span>Pelo y Barba</span></a>
        </div>
        <!-- Hipervínculos para el menú-->
        <nav class="nav-oculta">
            <ul>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#testimonios">Testimonios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
        
    </header>
    <!--Contenido-->
    <main id="container-form">
        <!-- form-wrapper: Formulario -->
        <section id="form-wrapper">
            <h2>Contacto</h2>
            <form action="#" id="formregister" method="GET" novalidate onsubmit="return validacion()"> 
                <!--Nombre-->
                <div class="form-control">
                    <label for="firstname" >Nombre</label>
                    <input type="text" name="firstname" id="firstname" required placeholder="Laura">
                </div>
                <div class="error" id="error-firstname"></div>
                <!--Apellido-->
                <div class="form-control">
                    <label>Apellido</label>
                    <input type="text" name="lastname" id="lastname" required placeholder="Garcia">
                </div>
                <div class="error" id="error-lastname"></div>
                <!--Email-->
                <div class="form-control">
                    <label>Email</label>
                    <input type="email" name="email" id="email" required placeholder="example@gmail.com">
                </div>
                <div class="error" id="error-email"></div>
                <!--Tipo de consulta-->
                <div class="form-control">
                    <label>Tipo de Consulta</label><br>
                    <select name="tipoconsulta" id="tipoconsulta" class="form-select" required>
                        <option value="">Seleccione una opción</option>
                        <option value="S">Servicio</option>
                        <option value="P">Productos</option>
                        <option value="O">Otra consulta</option>
                    </select>                   
                </div>
                <!--Tipo de servicio-->
                <!--Esta sección debería aparecer únicamente si el cliente selecciona "Servicio" en el desplegable anterior-->
                <div class="form-control">
                    <div class="servicio">
                        <label>Tipo de Servicio</label><br>
                        <input type="checkbox" name="opcion" value="B">Baño<br>
                        <input type="checkbox" name="opcion" value="C">Corte<br>
                        <input type="checkbox" name="opcion" value="D">Desparacitado<br>
                        <input type="checkbox" name="opcion" value="P">Paticure<br>
                    </div>
                </div>
                <!--Verificación de si ya es cliente-->
                <div class="form-control">
                    <div class="cliente">
                        <label>Ya es cliente?</label> <!--Ver dónde corresponde poner el requierd acá-->
                        <input type="radio" name="opcion" value="1">Sí
                        <input type="radio" name="opcion" value="0">No
                    </div>
                </div>
                <!--Espacio para la consulta-->
                <div class="form-control">
                    <div class="consulta">
                        <textarea name="consulta" id="consulta" cols="30" rows="10" placeholder="Escribe tu consulta"></textarea>
                    </div>
                </div>
                <!--Botón de envío-->
                <button type="submit" >Enviar consulta</button>
                <div class="form-help">
                    <a href="#">¿Necesitás ayuda?</a>
                </div>
            </form>
        </section>

    </main>
    <!--Pie-->
    <footer>
        <div class="container-enlaces-footer">
            <a href="https://www.google.com/maps?ll=-34.584822,-58.393176&z=14&t=m&hl=es-419&gl=AR&mapclient=embed&cid=10073283201434883105" target="_blank">
                <div class="emlace-footer">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p>Dónde estamos</p>
                        <p>Av. del Libertador 1400</p>
                        <p>CABA</p>
                    </div>
                </div>
            </a>
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank">
                <div class="emlace-footer">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>+54911-1234-5678</p>
                </div>
            </a>
            <a href="mailto:peloybarba@mail.com?Subject=Consulta">
                <div class="emlace-footer">
                    <i class="fa-regular fa-envelope"></i>
                    <p>peloybarba@mail.com</p>
                </div>
            </a>
            <div class="emlace-footer">
                <p id="barra-vertical">|</p>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
        <div class="legales">
            <p>© 2024 Todos los derechos reservados a Pelo y Barba</p>
            <p>Política de Privacidad | Términos y Condiciones</p>
        </div> 
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/funciones-formulario.js"></script>
</body>
</html>