<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelo y Barba - Productos</title>
</head>
<body>
    <!--Encabezado-->
    <header>
        <!-- Logo -->
        <div>
            <a href="/"><span>Pelo y Barba</span></a>
        </div>
        <!-- Hipervínculos para el menú-->
        <!-- También pienso que podemos decidir que se abra en una nueva solapa en blanco y en ese caso prescindir del menú de navegación-->
        <nav>
            <ul>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#productos">Productos</a></li>
                <li><a href="#testimonios">Testimonios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>    
    
    <!--Contenido-->
    <main>
        <section id="detalleproducto1">
            <!-- División contenedora-->
            <div>
                <!-- División para los detalles del producto: un espacio para la imagen y otro para la descripcion-->
                <div>
                    <!-- imagen -->
                    <div>
                        <img src="../static/img/Ejemplo-Alimento.png" alt="Royal-Canin-MiniAdult" height="200">
                    </div>
                    <!-- Descripción-->
                    <div>
                        <!-- Información -->
                        <div>
                            <h2>Royal Canin para Perro Mini Adulto <span>7,5 Kg</span></h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                         </div>
                        <!-- Precio "Antes" -->
                        <div>
                            <h3>Antes</h3>
                            <p>$45.250</p>
                        </div>
                        <!-- Precio "Ahora" -->
                        <div>
                            <h3>Ahora</h3>
                            <p>$38.462</p>
                        </div>
                    <button type="button">Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--Pie-->
    <footer>

    </footer>

</body>
</html>